{# empty Twig template #}
<br>
<hr>
<br>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td align="center" style="padding:15px;"><span style="font-family:Arial, Helvetica, sans-serif; font-size:12px;">CBA TRAINNING - 123456 Street Name, ST 111111.   Phone: 1-111-111-1111</span></td>
    </tr>
</table>
</td>
</tr>
</table>
</td>
</tr>
</table>
</td>
</tr>
</table>
<br>
</body>
</html>
